@model Library.Domain.Entities.Book

<div class="item">
    <h2>@Model.Name</h2>
    <!--Добавим кнопку--> 
    @using (Html.BeginForm("AddToCart", "Cart"))
    {
        @Html.HiddenFor(x => x.BookId);
        @Html.Hidden("returnUrl", Request.Url.PathAndQuery);
        <input type="submit" value="+ Add to cart" />
    }
    <h4>@Model.PriceLoss.ToString("c")</h4>
</div>


